:root {
  /* ============= FONTS ============= */
  --font-family-halvar: 'Halvar Breitschrift', sans-serif;
  --font-family-stolzl: 'Stolzl', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --font-size-50: 50px;

  --line-height-normal: normal;
  --line-height-24: 24px;
  --line-height-27: 27px;
  --line-height-40: 40px;
  --line-height-54: 54px;

  --letter-spacing-normal: 0;
  --letter-spacing-display-accent: -1.7px;
  --letter-spacing-button: 4px;
  --letter-spacing-display: -1.3px;

  /* ============ COLORS ============= */
  --color-white: #ffffff;
  --color-yellow: #fee97d;
  --color-dark: #0c090e;
  --color-purple: #9e13e0;
  --color-gradient-orange: #dc8400;
  --color-gradient-purple: #560080;
  --color-gradient-dark: #14091a;
  --color-gradient-purple-bright: #9500dc;
  --color-gradient-purple-deep: #220032;

  /* ============ GRADIENTS ============= */
  --gradient-multitask-section: linear-gradient(
    121deg,
    var(--color-gradient-dark) 3%,
    var(--color-gradient-dark) 50%,
    var(--color-gradient-purple-deep) 92%
  );

  --gradient-multitask-card: linear-gradient(
    67deg,
    var(--color-gradient-purple-bright),
    var(--color-gradient-purple),
    var(--color-gradient-purple-deep)
  );

  --gradient-section-primary: linear-gradient(
    121deg,
    var(--color-gradient-orange) 3%,
    var(--color-gradient-purple) 50%,
    var(--color-gradient-dark) 92%
  );

  /* ============ OPACITY ============= */
  --opacity-muted: 0.7;
  --opacity-full: 1;
}
